
/* general settings */
:root {
    --white: hsl(0,0%,100%);
    --lightBlue: hsl(231,69%,60%);
    --darkBlue: hsl(229,31%,21%);
    --transparentBlue: hsl(229,25%,25%);
    --red: hsl(0,94%,66%);
    --lightGray: hsl(0,0%,95%);
    --gray: hsl(0,0%,50%);
    --darkGray: hsl(240,15%,35%);
    --shadowGray: hsl(231,43%,92%);
    --textGray: hsl(0,0%,70%);
    --black:hsl(0,0%,0%);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    color: var(--gray);
    line-height: 30px;
    overflow-x: hidden;
}

div.main-container {
    width: 60vw;
}

h1, h2, h3 {
    color: var(--black);
}

a { 
    color: var(--gray);
    text-transform: uppercase;
    text-decoration: none;
}

button {
    height: 45px;
    margin: 5px;
    border-radius: 5px;
    color: var(--white);
    font-weight: 600;
    box-shadow: 0 5px 7px var(--shadowGray);
}

button:hover {
    cursor: pointer;
    box-shadow: none;
}

.button-blue {
    border: 2px solid var(--lightBlue);
    background-color: var(--lightBlue);
}

.button-blue:hover {
    border: 2px solid var(--lightBlue);
    background-color: var(--white);
    color: var(--lightBlue);
}

.button-red {
    border: 2px solid var(--red);
    background-color: var(--red);
}

.button-red:hover {
    border: 2px solid var(--red);
    background-color: var(--white);
    color: var(--red);
}

.button-gray {
    border: 2px solid var(--lightGray);
    background-color: var(--lightGray);
    color: var(--darkGray);
}

.button-gray:hover {
    border: 2px solid var(--gray);
    background-color: var(--white);
    color: var(--gray);
}

.button-red {
    background-color: var(--red);
    color: var(--white);
}

.visible {
    display: flex ;
}

.non-visible {
    display: none;
}

.container-row {
    display: flex;
    justify-content: center;
}

.container-column {
    display: flex;
    flex-direction: column;
}

.container-main {
    width: 80vw;
}

.left {
    justify-content: flex-start;
}

.text-center {
    text-align: center;
}

/* main navigation */
.main-nav {
    height: 50px;
    margin-top: 20px;
    justify-content: flex-start;
}

.main-nav > div {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.main-nav img {
    width: 148px;
    height: 25px;
    align-self: center;
}

.main-nav > ul {
    width: 50%; 
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    list-style: none;
    font-size: 15px;
}

.main-nav > ul li {
    align-items: center;
    flex-basis: 25%;
    height: auto;
}

.main-nav > ul li a:hover {
    width: 25%;
    color: var(--red);
}

.main-nav > ul li button {
    width: 100%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.navi-img {
    display: none;
}

/* header */
header {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    justify-content: space-between;
}

.header-div {
    width: 50%;
    height: 100%;
    margin-top: 40px;
}

.header-div p {
    width: 70%;
}

.header-div button {
    width: 25%;
}

.image-container {
    width: 50%;
    position: relative;
}

.header-svg-container {
    width: 657px;
    height: 466px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("./images/illustration-hero.svg");
    background-size: cover;
}

.header-blue-shadow {
    width: 1500px;
    height: 346px;
    position: absolute;
    left: 200px;
    bottom: -100px;
    border-radius: 0 0 0 150px;
    background-color: var(--lightBlue);
}

/* sections general settings */
.section-main-text {
    width: 50%;
    align-self: center;
}


/* section Features */
.sectionFeatures {
    margin: 150px 0 300px 0;
    align-items: center;
}

.features-nav {
    width: 50%;
    justify-content: center;
    margin: 30px 0 50px 0;
}

.features-nav > ul {
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0;
}

.features-li {
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid var(--lightGray);
}

.features-li:hover {
    color: var(--red);
    cursor: pointer;
}

.active-li, .active-li:hover {
    color: var(--darkGray);
    font-weight: 500;
    border-bottom: 5px solid var(--red);
}

.features-box {
    width: 100%;
}

/* -- svg settings -- */
.features-image-container {
    width: 50%;
    position: relative;
    margin-left: 50px;
}

.features-blue-shadow {
    width: 900px;
    height: 346px;
    background-color: var(--lightBlue);
    position: relative;
    top: 100px;
    left: -500px;
    border-radius: 0 0 150px 0;
}

.features-svg-container {
    width: 536px;
    height: 346px;
    background-image: url("./images/illustration-features-tab-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -100px;
    right: -100px;
}

.features-box-options {
    width: 50%;
}

.features-box-text {
    width: 80%;
    margin-top: 50px;
}

.features-box-text > button {
    width: 120px;
    margin: 0px;
}

/* section Download */
.sectionDownload {
    margin-bottom: 50px;
}

.sectionDownload h5 {
    margin-bottom: 0px;
    color: var(--black);
}

.download-cards {
    width: 70%;
    justify-content: space-between;
    align-self: center;
    margin-top: 50px;
}

.download-card:nth-child(2) {
    margin-top: 50px;
}

.download-card:nth-child(3) {
    margin-top: 100px;
}

.download-card {
    width: 250px;
    height: 320px;
    align-items: center;
    border-radius: 15px;
    box-shadow:  0 7px 12px var(--shadowGray);
}

.download-card > img {
    width: 60px;
    height: 60px;
    margin-top: 30px;
}

.download-card > p {
    font-size: 12px;
    padding-bottom: 10px;
}

.download-card > button {
    width: 80%;
    margin-top: 15px;
    font-size: 12px;
}

.dots {
    width: 100%;
    height: 20px;
    margin-top: 25px;
    background-image: url("./images/bg-dots.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* section FAQ */
.sectionFAQ {
    align-items: center;
    margin-bottom: 100px;
}

.sectionFAQ > button {
    width: 120px;
}

.accordion-container {
    width: 600px;
    align-items: center;
    margin: 50px 0 50px 0;
    border-bottom: 1px solid var(--lightGray);
}

.accordion-box {
    width: 100%;
}

.accordion-button {
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    color: var(--gray);
    border-top: 1px solid var(--lightGray);
    cursor: pointer;
}

.accordion-button:hover {
    color: var(--red)
}

.accordion-button > i {
    color: var(--lightBlue);
}

.accordion-button .fa-angle-up {
    color: var(--lightRed);
}

.accordion-content {
    font-size: 15px;
    line-height: 25px;
    margin: 20px 0 35px 0;
}

/* section Contact */
.sectionContact {
    height: 300px;
    align-items: center;
    margin-left: -500px;
    margin-right: -500px;
    background-color:hsl(231, 69%, 60%);
    color: var(--white);
}

.sectionContact > span {
    margin-top: 50px;
    font-size: 16px;
    text-transform: uppercase;  
}

.sectionContact > h2 {
    color: var(--white);
    font-weight: 500;
    text-align: center;
}

.sectionContact input {
    width: 320px;
    height: 45px;
    border-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--lightBlue);
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
    color: var(--gray);
}

.sectionContact input:focus {
    outline-width: 0;
    border: 2px solid var(--red);
}

.sectionContact input:not(:focus):not(:placeholder-shown):invalid {
    background-image: url("./images/icon-error.svg");
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding: 5px;
    border: 2px solid var(--red);
    border-radius: 5px 5px 0 0;
}
  
.sectionContact input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
    display: block; 
}

.error-message {
    width: 100%;
    height: 25px;
    line-height: 20px;
    padding-left: 10px;
    border: 2px solid var(--red);
    border-radius: 0 0 5px 5px;
    background-color: var(--red);
    font-size: 12px;
    font-style: italic;
    text-align: left; 
    vertical-align: center;
    display: none;
}

::placeholder {
    color: var(--textGray);
}

.sectionContact button {
    width: 100px;
    margin: 0 15px;
    box-shadow: none;
}
 
/* section Footer */
.footer {
    align-items: center;
    height: 150px;
    margin-left: -500px;
    margin-right: -500px;
    background-color: var(--darkBlue);
    color: var(--white);
}

.footer-content {
    width: 1100px;
    height: 100px;
    align-items: center;
}

.footer-logo {
    flex-basis: 20%;
    width: 148px;
    height: 25px;
    justify-content: flex-start;
    background-image: url("./images/logo-bookmark-white.svg");
    background-repeat: no-repeat;
}

.footer ul {
    flex-basis: 20%;
    justify-self: flex-start;
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
}

.footer ul li a {
    margin: 0 15px;
    color: var(--white);
}

.footer ul li a:hover {
    color: var(--red);
}

.footer-img {
    height: 20px;
    flex-basis: 60%;
    justify-content: flex-end;
}

svg.icon path:hover {
    fill: var(--red);
}

.footer a:first-child {
    padding-right: 20px;
}



/* footer FrontendMentor  */
.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

/* media quarries */

@media only screen and (max-width: 1440px)  {
    body {
        background-color: var(--black);
        margin: 0;
        font-size: 15px;
        z-index: 0;

    }
    
    body > div {
        background-color: var(--white);
        max-width: 375px;
    }

    .main-nav {
        padding: 50px 30px;
        justify-content: space-between;
    }

    .main-nav > ul {
        display: none;
    }

    .navi-img {
        display: flex;
        align-items: center;
    }

    .main-nav a {
        justify-content: flex-end;
    }

    .main-nav a img {
        width: 20px;
        height: 15px;
    }

    header {
        height: 100%;
        flex-direction: column;
        margin-top: 20px;
        position: relative;
    }

    .mobile-navi {
        width: 100%;
        height: 700px;
        align-items: center;
        position: absolute; 
        top: -20px;
        padding: 40px 30px;
        background-color: var(--darkBlue);
        opacity: 0.95;
        z-index: 1;
    }

    .mobile-navi > div:first-child {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center ;
    }

    .mobile-navi > ul {
        width: 100%;
        align-items: center;
        margin-top: 25px;
        list-style: none;
        text-transform: uppercase;
        font-size: 20px;
        color: var(--white);
        padding-inline-start: 0;
    }

    .mobile-navi > ul li {
        width: 100%;
        text-align: center;
        padding: 20px 0;
        border-top: 1px solid var(--darkGray);
    }

    .mobile-navi li a {
        width: 100%;
        font-weight: 300;
        color: var(--white);
    }

    .mobile-navi button {
        width: 100%;
        background-color: var(--darkBlue);
        font-size: 18px;
        font-weight: 300;
        border: 2px solid var(--white);
        box-shadow: none;
    }

    .popup-img {
        width: 200px;
        margin-top: 200px;
    }

    .popup-img a img {
        margin: 0 20px;
        justify-content: space-between;
    }

    .icon-close {
        width: 15px;
        height: 15px;
        align-self: center;
        cursor: pointer;
    }

    .header-div {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        order: 2;
        margin-top: 100px;
    }

    .image-container {
        width: 100%;
        height: auto;
    }

    .header-svg-container {
        width: 350px;
        height: 228px;
        position: relative;
        margin: auto;
    }

    .header-blue-shadow {
        width: 325px;
        height: 228px;
        left: 50px;
        top: 50px;
    }

    .header-div > div {
        width: 100%;
        justify-content: center;
    }

    .header-div button {
        width: 40%;
    }

    .section-main-text {
        width: 80%;
    }

    .sectionFeatures {
        margin: 80px 0;
    }

    .features-nav {
        width: 100%;
    }

    .features-nav > ul {
        flex-direction: column;
        border-bottom: 2px solid var(--lightGray);
    }

    .features-li {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2px solid var(--lightGray);
        border-bottom: none;
    }

    .active-li, .active-li:hover {
        border-bottom: none;
    }

    .active-li + div.active-border {
        display: block;
    }

    .active-border {
        width: 50%;
        height: 5px;
        background-color: var(--red);
        align-self: flex-end;
        margin: auto;
    }

    .features-box {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .features-box-options {
        width: 100%;
    }

    .features-box-text > button {
        display: none;
    }

    .features-image-container {
        width: 100%;
        height: 300px;
        margin: 0;
    }

    .features-blue-shadow {
        width: 300px;
        height: 200px;
        position: relative;
        left: 0;
        top: 80px;
    }

    .features-svg-container {
        width: 325px !important;
        height: 225px !important;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: -50px;
    }

    .features-box-text {
        width: 80%;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .sectionDownload {
        margin-top: 100px;
    }
    
    .download-cards {
        flex-direction: column;
        align-items: center;
    }

    .download-cards .download-card {
        margin-top: 20px;
    }

    .sectionFeatures > .section-main-text {
        width: 80%;
    }

    .sectionFAQ {
        margin-top: 80px;
    }

    .accordion-container {
        width: 80%;
    }

    .accordion-container > .accordion-box:first-child > .accordion-button {
        border-top: none;
    }

    .sectionContact {
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .sectionContact > span {
        margin-top: 70px;
    }

    .form-container {
        flex-direction: column;
        align-items: center;
    }

    .form-container > button {
        width: 100%;
        margin-top: 15px;
    }

    .footer {
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .footer-content, .footer-navi {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        flex-basis: 100%;
        margin-top: 35px;
    }

    .footer ul {
        padding-inline-start: 0;
    }

    .footer-navi li {
        margin: 15px;
    }

    .footer-img {
        margin-top: 20px;
    }

    .attribution {
        margin-top: 50px;
    }

    svg g path {
        fill: var(--white);
    }   

}